{% extends "navbar/navbar.html" %}

{% block content %}

<h1>Schedule a Meetup</h1>
		<form method="POST">

			<div class="form-group">
				<label for="date">Choose a Date for your meeting:</label>
					<input type="date" name="date">
			</div>
			<div>
				<label for="time">Choose a start time for your meeting:</label>
				<input type="time" name="startTime" name="time"min="0:00" max="24:00" required>
			</div>

			<div>
				<label for="end">Choose an end time for your meeting:</label>
				<input type="time" name="endTime" name="end"min="0:00" max="24:00" required>
			</div>

			<input type="submit" class="btn btn-primary" value="Sumbit">

		</form>
{% endblock %}
